:root {
  --blue-color-brand: #17A3B8;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: white;
  background-color: black;
}

/* Navbar */
.navbar-brand {
  font-size: 2.5rem;
}

.navbar-toggler {
  border-radius: 5px;
  border: 2px solid white;
}

.navbar-toggler-icon {
  padding: 20px;
}

.nav-link {
  margin: 0 5px;
}
/* Navbar-End */

/* Quienes-Somos */
.parrafo-icon {
  background-color: var(--blue-color-brand);
}

.parrafo-icon i{
  font-size: 2rem;
  margin: 5px 0;
}

.section-title {
  border-bottom: 2px solid var(--blue-color-brand);
}

.section-title h3 {
  font-size: 3rem;
}

.card {
  background-color: var(--blue-color-brand);
  border-radius: 5px;
  overflow: hidden;
}

.card-title {
  font-size: 2rem;
}
/* Quienes-Somos-End */

/* Footer */
#footer {
  background-color: var(--blue-color-brand);
}

#footer a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-decoration: none;
}

.social-icons i {
  margin: 0 5px;
}
/* Footer-End */
